.application-form-container {
    max-width: 80rem;
    margin: auto;
    padding: 1.5rem;
}

.application-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.label-bold {
    font-weight: 700;
}

.application-tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* gap: 0.5rem; */
    margin-bottom: 1.5rem;
}

.nav-tabs {
    display: flex;
    border: 1px none transparent;
    border-radius: 5px;
    overflow: hidden;
    /* border: transparent none; */
}



.tab {
    padding: 10px 40px;
    background-color: #f3e8ff;
    color: #6b21a8;
}

.tab-active {
    padding: 10px 40px;
    background-color: #6b21a8;
    color: white;
}

.tab-inactive {
    padding: 10px 40px;
    background-color: #e1dede;
    color: black;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section-box {
    /* padding: 1rem; */
    border-radius: 0.5rem;
    border: 1px solid #FFF1EF;
}

.section-title {
    padding: 10px;
    background-color: #fef2f2;
    font-weight: 600;
    margin-bottom: 1rem;
}

.grid-container {
    padding: 0px 20px 25px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.custom-input-group {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.required {
    color: red;
}

.input-field {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    outline: none;
}

.input-field:focus {
    border-color: #a855f7;
    box-shadow: 0 0 0 2px rgba(168, 85, 247, 0.3);
}

.form-footer {
    text-align: center;

}

.submit-button,
.back-button {
    background-color: #6D3078;
    color: white;
    margin: 10px;
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem;
    border: none;
}

.image-preview {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.image-preview-blank {
    color: transparent;
    cursor: pointer;
    text-decoration: none;
}


.application-fee-container {
    margin: 20px 10px;
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
}

.fee-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.fee-label,
.fee-amount {
    flex: 1;
    font-size: 16px;
}

.disclaimer-row {
    display: flex;
    align-items: flex-start;
}

.disclaimer-row input[type="checkbox"] {
    margin-right: 8px;
    margin-top: 2px;
}

.disclaimer-text {
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

.image-preview-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.image-preview-container {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.image-field-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: "1px solid #ccc";
    padding: "5px";
}


.image-preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: "1px solid #ccc";
    padding: "5px";
}


.autocomplete-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 250px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    padding: 0;
    margin-top: 70px;
    list-style: none;
}

.autocomplete-dropdown li {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-dropdown li:hover {
    background: #f0f0f0;
}


@media (max-width: 768px) {
    .nav-tabs {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        padding: 10 10px;
        flex-wrap: wrap;
        border: 1px none transparent;
        border-radius: 5px;
        overflow: hidden;
    }

    .tab,
    .tab-active,
    .tab-inactive {
        padding: 10px 20px;
        font-size: 0.85rem;
        flex-shrink: 0;
        white-space: nowrap;
    }

    .application-header {
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.875rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .application-header p {
        margin: 5px;
    }

    .application-fee-container {
        margin: 10px;
    }

    .image-preview-blank {
        display: none;
    }
}