.application-card {
    border: 1px solid purple;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  
  .application-details {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 14px;
    color: purple;
    font-weight: 500;
  }
  
  .value {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-top: 4px;
  }
  
  .resume-btn {
    background-color: #f46b1f;
    color: white;
    margin: 10px;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
  }
  