.text-purple {
  color: #6D3078;
}
.title-text-purple {
  padding: 30px 0px;
  color: #6D3078;
  font-family: "Gotham Rounded", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}


.about-text-secondary{
  font-size: 14px;
  font-weight: 300;
}

.portal-section-title {
  color: #3D3D3D;
  font-family: "Gotham Rounded", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 550;
}
.portal-about{
  padding: 9% 10%;
}
.about-img {
  width: 80%; /* equivalent to w-72 in Tailwind */
  height: 288px;
  object-fit: cover;
}

.about-img.desktop-img {
  display: block;
}

.about-img.mobile-img1 {
  display: none;
}
.portal-about .image-container{
  flex:4;
}.portal-about .text-container{
  flex:6;
}

@media (max-width: 767px) {
  .about-img.desktop-img {
    display: none;
  }
.about-img {
width: 100%;
}
  .portal-about{
    padding: 30px;
  }

  .about-img.mobile-img1 {
    display: block;
    width: 100%;
  }
  

.about-text-secondary{
  font-size: 12px;
}

}
